<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked" >Text Name</ion-label>
      <ion-input [(ngModel)]="textName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" >Text Desc</ion-label>
      <ion-input [(ngModel)]="textDesc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="doCreate()">doCreate</ion-button>
    </ion-item>
  </ion-list>

  <ng-container *ngFor="let data of dataListing">
    <app-data-access
      [data]="data"
      (callBackData)="onCallBack($event)"
    ></app-data-access>
  </ng-container>
</ion-content>
