<ion-card *ngIf="data.id">
  <ion-card-header>
    <ion-card-subtitle>{{ data.id }}</ion-card-subtitle>
    <ion-card-title>{{ data.taskName }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>{{ data.taskDesc }} </p>
    <span>{{ data.status }}</span>
    <ion-button (click)="doCallBack()">Call Back</ion-button>
  </ion-card-content>
</ion-card>
